header {
    border-radius: black solid 3px;
    text-align: justify;
    background-color: gray;
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: cursive;
}
em {
    font-style: italic;
    text-align: justify;    
}
body{
    background-color: lightgreen;
    color: black;
    text-align: justify;
    font-family: cursive;    
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2, h3 {
    text-align: left;
    font-size: 25px;    
}

p {
    text-align: justify;
    text-transform: none;
    font-size: 20px;
    margin: 10px;
}
ul {
    text-align: justify;
    text-transform: none;
    font-size: 20px;
    margin: 10px;
}
li {
    text-decoration: none;
    list-style-type: square;
    margin: 0px;
    padding: 0px;
}
#picture {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    width: 25%;
    height: 25%;
    border: black solid 1px;
    border-radius: 5px;
    padding: 5px;
}

.footer {
    text-align: justify;
    background-color: gray;
    color: white;
    padding: 10px;
    margin: 10px;   
    border-radius: black solid 3px;     
}
#pictures_li {
    text-align: left;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    align-content: stretch;
    
}
#pictures_li2 {
    text-align: left;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    align-content: stretch;
       
    
}
#pictures_li3 {
    text-align: left;
    border: 2px solid black;  
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    align-content: stretch;
    
}
#pictures_li4 {
    text-align: left;
    border: 2px solid black;   
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px); 
    align-content: stretch;
}
.sorolva {
    justify-content: center; 
}

a {
    text-decoration: underline;
    color: darkmagenta;
    grid-column: initial;
}

.container-header {
    border: black solid 2px;
}

.container-body {
    border: white solid 1px;
}

hr {
    border: 1px solid gray;
    margin: 10px;
}

.container-footer {
    background-color: gray;
    color: white;
    padding: 10px;
    align-items: center;
    margin: 10px;
    border-radius: grey solid 3px;
}

strong {
    font-weight: bold;
    text-align: justify;
    font-family: cursive;
}
  
